@media (max-width: 600px){
    .products{
        display:inherit;
        height:auto;
    }
    .product{
        margin-top:auto;
    }
    .main-section{
        padding:4%;
    }
    .beneficios, .menciones{
        display:inherit;
    }
    
}